body
{
    background-color: rgb(231, 200, 226);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6rem;
    padding: 50px;
}

.accordian
{
    background-color: whitesmoke;
    padding: 10px 15px;
    margin: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(214, 152, 204);
    cursor: pointer;
}

.questions
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon
{
    margin-right: 25px;
    transition: transform 0.2s;
}

.answer
{
    color: rgb(3, 2, 0);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}

.icon.active
{
  transform: rotate(-180deg);
}